.newsletter_container{
    background-color: #000000;
    padding: 60px 20px;
}
.newsletter_container_text{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.newsletter_container_form{
    border-bottom:  1px solid #03FFA5;
    display: flex;
    max-width: 502px;
    margin:  0 auto;
}
.newsletter_container_form_button{
    font-size: 16px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    line-height: 40px;
    color: #03FFA5;
}
.newsletter_container_form_input{
    background-color: transparent;
    border: none;
    flex-grow: 1;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.newsletter_container_form_input::placeholder{
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.newsletter_container_form_input  textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.newsletter_msg {
    color:#ffffff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
@media(min-width: 700px){
    .newsletter_container{
        padding: 136px 20px;
    }
    .newsletter_container_text{
        font-size: 32px;
        line-height: 40px;
    }
}