.infoCard_container{
    background: #F2F2F2;
    padding: 32px 24px;
}
.infoCard_container-content{
    max-width: 1014px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infoCard_container-button{
    margin-top: 32px;
    padding: 12px 24px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    border: 1px solid  #000000;
    border-radius: 6px;
}
.infoCard_container-info-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #000000;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.infoCard_container-info-subTitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000
}
.infoCard_container-info{
    width: 100%;
}
.infoCard_container-image{
    display: none;
}
@media(min-width: 700px){
    .infoCard_container{
         padding: 64px 24px;
        background-image: linear-gradient(to right, #ffffff 0, #ffffff 50%,  #F2F2F2  50%);
    }
    .infoCard_container-content{
        flex-direction: row;
    }
    .infoCard_container-image {
        display: block;
    }
    .infoCard_container-info{
        width: 242px;
    }
}