.shelf_container_content{
    max-width: 1014px;
    margin: 0 auto;
}
.shelf_container{
    padding: 56px 23px 36px;
}
.shelf_container_title {
     font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #000000
}
.shelf_container_title span{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #03FFA5
}
.shelf_container_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
}
@media(min-width: 700px){
    .shelf_container_grid{
        flex-direction: row;
    }
    .shelf_container{
        padding: 56px 23px;
    }
}
