.banner_container{
    background-color: #03FFA5;
    padding: 40px 10px;
}
.banner_container_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.banner_container_items{
    display: flex;
    flex-direction: column;
    margin-right: 0;
}
.banner_container-title{
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 32px;
}
.banner_container-subTitle{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
}
.banner_container-button{
    margin-top: 32px;
    padding: 12px 24px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    border: 1px solid  #000000;
    border-radius: 6px;
}
.banner_container-img{
    display: none;
}
@media(min-width: 700px){
    .banner_container_content{
        flex-direction: row;
        margin: auto 130px auto 0;
        align-items: center;
    }
    .banner_container{
        padding: 40px 40px 0 ;
    }
    .banner_container_items{
        margin-right: 130px;
    }
    .banner_container-title{
        font-size: 64px;
        line-height: 78px;
        margin-bottom: 16px;
    }
    .banner_container-img {
        display: block;
    }
}
